name: Build Dev Docker Image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t directus-dev .

      - name: Save Docker image to file
        run: |
          docker save directus-dev -o directus-dev.tar

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: directus-dev-image
          path: directus-dev.tar